footer {
  align-items: center;
  background-color: rgb(249, 226, 197);
  bottom: 0;
  display: flex;
  gap: 50px;
  height: 60px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 0;
}
